[Desktop Entry]
Version=1.0
Type=Application
Name=AbrirsoloYSF
Comment=
Exec=sh -c "cd /home/pi/DVPi/;lxterminal --geometry=80x12 -e sudo sh ejecutar_solofusion.sh"
Icon=/home/pi/DVPi/SOLO_YSF.png
Path=/home/pi/DVPi
Terminal=false
StartupNotify=false
Name[es_ES]=Abrir solo FUSION
