[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/DVPi;lxterminal --geometry=80x12 -e sudo sh Abrir_DMRPLUS.sh'
Icon=/home/pi/DVPi/ICONO_DMRPLUS_OFF.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Abrir DMR+
Hidden=false
Comment[es_ES]=EA3EIZ
