[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/DVPi;./qt_actualizar_ysf'
Icon=/home/pi/DVPi/ICONO_ACTUALIZAR_YSF.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Actualizar YSFCLIENTS y Salas
Hidden=false
Comment[es_ES]=EA3EIZ
