[Desktop Entry]
Exec=sh -c "cd /home/pi/DVPi;sh editar_C4FM.sh"
Icon=/home/pi/DVPi/ICONO_EDITAR_YSF.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=true
Name[es_ES]=Editar YSF FCS & YCS
Hidden=false
Comment[es_ES]=EA3EIZ
X-KeepTerminal=false