[Desktop Entry]
Exec=sh -c "cd /home/pi/DVPi;./qt_editor_C4FM"
Icon=/home/pi/DVPi/ICONO_EDITAR_YSF.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Editar YSF FCS & YCS
Hidden=false
Comment[es_ES]=EA3EIZ
X-KeepTerminal=false